In [1]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [2]:
fruits = ["apple", "banana", "cherry"]

In [3]:
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [4]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [5]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [6]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [7]:
for x in range(2, 32, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [8]:
for x in range(2, 33, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29
32

In [9]:
for i, name in enumerate(['body', 'foo', 'bar']):
    print(i, name)

0 body
1 foo
2 bar

In [10]:
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

In [11]:
print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]